*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #71b7e6, #a554c5); */
    
    background-color: #e2c3c3c7;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;


}
li,a{
    text-decoration: none;
    color:#774646;
    
}
li,a:hover{
    
    transition: 0.3s ease 0s;
    color: #00848f;
    
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

main{
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
    
}

h1{
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 40px;
    columns: #707070;

}

h2{
    font-size: 1.1em;
    font-weight: 400;
    color: #00848f;

}

.faq{
    padding: 20px 30px;
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px;
    border-radius: 5px;
    color: #979797;
    position: relative;
    line-height: 1.5em;
    margin-top: 15px;
    background-color: #fff;

}

.faq .faq_text{
    width: 90%;

}

.btn{
    color: #5e5d5d;
    position: absolute;
    right: 25px;
    top: 35px;
    font-weight: 400;
    font-size: 1.4em;
}

/*hide p tags*/
.faq .open h2{
    color: #00848f;
}



