*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
background:  #e2c3c3c7 !important;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
margin-top:25px;

}
nav{
    flex: 1;
    text-align: right;
    margin-right:0px;
    margin-top: -10px;
}
nav ul{
    display: inline-block;
    list-style-type: none;


}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
    font-size: 17px;
    font-weight: normal;
    
}
.logo{
    margin-left: -65px;
    margin-top: -10px;
}
h1{
    text-align: center;
    margin: 10px auto 120px !important;
}
.container{
    max-width: 2000px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list{
    margin-top: -25px;
    cursor: pointer;
    margin-right:-60px;
}
.main{
    width: 100%;
    min-height: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 150px;
}
.service{
    background: #ffff;
    padding: 30px;
border-radius: 10px;
position: absolute;
bottom: 0;
z-index: 1;
box-shadow: 0 0 20px -15px #030380;
    transition: transform 0.8s;
    

}
.service-logo{
    width: 130px;
    height:130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #ffff;
    border: 18px solid #e2c3c3c7;
    
}
.service-logo img{
    width: 50px;
    margin-top:20px;
}

.service h4{
    height: 35px;
    width: 80%;
    background: #ffff;
    margin: 50px auto;
    position: relative;
}
.service h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #fff,#e2c3c3c7);
    position:absolute;
    right: -5px;
    top: -5px;
z-index: -1;
}

.service h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right, #e2c3c3c7,#fff);
    position:absolute;
    left: -5px;
    bottom: -5px;
z-index: -1;
}

.shadowOne{
    height:200px;
    width: 80%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index:-1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform 0.8s;
}
.shadowTwo{
    height:200px;
    width: 64%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index:-2;
}
.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowOne{
    transform: translateY(-25px);
}
.row{
    align-items: center;
}
.row{
    margin-bottom:20px;
}